{
  "presets": [
    ["es2015",{
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015"
      ]
    }
  }
}
