{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "prefer-template": 1,
    "no-restricted-syntax": 0,
    "arrow-parens": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ]
  }
}
